.login-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A1026;
    padding: 4rem;
    border-radius: 1rem;
    width:100%;

}
.login-form-container
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A1026;
    padding: 4rem;
    border-radius: 1rem;
    width:30%;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    width:100%;
}



.email-input label{
    color:#E6CF37;
    text-align: left;
}

.password-input label{
    color:#E6CF37;
    text-align: left;
}

.email-input , .password-input{
    display: flex;
    flex-direction: column;
}

.email-input input{
    margin:1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-style: none;
    
    
  

}
.password-input input{
    margin:1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border-style: none;
  
}

.submit-button
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button button
{
    width:50%;
    border-radius: 1rem;
    border-style: none;
}
.google-login-signin
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.google-login-signin button
{
    color: #0A1026;
    padding: 0.5rem;
    border-style: none;
}
.forgot-password
{
    color:#E6CF37;
}
.forgot-password span 
{
    color:#E6CF37;
    cursor: pointer;
}

.reset-email
{
    display:flex;
    height:100%;
    width:100%;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A1026;
    border-radius: 1rem;

}
.reset-email input
{
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.reset-email button
{
    background-color: #E6CF37;
    color:#0A1026;
    border-style: none;
    padding:0.5rem;
    border-radius: 0.2rem;
}